.btn{
    outline: none;
    padding:0.5rem 2rem;
    border:none;
    margin-left: 0rem;
    color:#FFF;
    background-color: rgb(82, 131, 237);
    border-radius: 5px;
    margin-left:1rem;
}

@media screen and (max-width :400px){
    .btn{
        padding:0.4rem 1.1rem;
        border-radius: 5px;
        
    }
}