
/* .container{
} */


.tabItems{
    list-style: none;
    display:flex;
    align-items:center;
}

.tabItems li{
    margin-right: 2rem;
    font-size:1.2rem;
    cursor:pointer;
    font-weight: 600;
    color:rgb(99, 95, 95);
    position: relative;
   
}   

.active:after{
    content: " ";
    position: absolute;
    transform: translateY(35px);
    left:0;
    height: 4px;
    width: -webkit-fill-available;
    background-color:rgb(70, 124, 238);;
}

@media screen and (max-width:600px){
    .tabItems li{
        font-size:1rem;
    } 
}

@media screen and (max-width:600px){
    .tabItems li{
        font-size:0.7rem;
    } 

    .active:after{
        transform: translateY(20px);
        height: 2px;
    }   
}


